<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-refresher (ionRefresh)="foeceReload($event)">
    <ion-refresher-content refreshingText="Reload from API..."></ion-refresher-content>
  </ion-refresher> -->
  <button ion-button full (click)="loadData()">Load Data</button>
  <button ion-button full color="dark" (click)="getCache()">Get Cache</button>
  <ion-list *ngFor="let d of (data | async)">
    <ion-item>
      <ion-avatar item-start>
        <!-- <img [src]='url + d.image'> -->
        <!-- <img img-cache [img-cache-src]='url + d.image' /> -->
        <img *ngIf="url && d.image" img-cache [img-cache-src]='url + d.image'>
        <div *ngIf="url && d.image" img-cache [img-cache-bg-url]='url + d.image'></div>
      </ion-avatar>
      <h2>{{d.title}}</h2>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let d of (data | async)">
    <ion-item>
      <ion-avatar item-start>
        <!-- <img [src]='url + d.image'> -->
        <!-- <img img-cache [img-cache-src]='url + d.image' /> -->
        <img [src]='url + d.image'>
      </ion-avatar>
      <h2>{{d.title}}</h2>
    </ion-item>
  </ion-list>
</ion-content>